/* ----------------------External sources------------------------------ */
@font-face {
    font-family: Gilroy-light;
    src: url("/fonts/Gilroy/Gilroy-Light.ttf");
}

@font-face {
    font-family: Neue Machina-medium;
    src: url("/fonts/Neue-Machina/PPNeueMachina-Regular.otf");
}
/*------------------------- Who we are?--------------------------------*/
.logo {
    display: flex;
    width: 39px;
    height: 40px;
    flex-shrink: 0;
}

.main-menu {
    display: flex;
    width: 571px;
    height: 39px;
    align-items: center;
    justify-content: space-evenly;
}

.block {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina-medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    width: 98px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid var(--main-blue, #2E2BD0);
    padding: 0px 0px 0px 30px;
}

.our-services {
    display: flex;
    align-items: center;
    width: 98px;
    height: 39px;
    flex-shrink: 0;
    font-family:"Neue Machina-medium";
}
.job-openings{
    font-family: "Neue Machina-medium";
}
.big-selection .language-selection{
    display: flex;
    align-items: center;
    width: 50px;
}
img.selection{
    width: 20px;
    height: 20px;
    left: 37px;
    gap: 0px;
    opacity: 0px;

}
.name {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 60px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

.Who-we-are {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
h1{
    font-family: "Neue Machina-medium";
    font-weight: normal;
}
.big-paragraph{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
.paragraph,.para2{
    font-family: Gilroy-light;
    flex-shrink: 1;
}
/* -------------------------Our team------------------------------ */
h3{
    font-family: Neue Machina-medium;
    font-weight: normal;
    color: var(--main-light, #2F353F);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 90px */
}
.text {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy-light;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 45px */
}

.img1 {
    width: 540px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 70px;
    background-image: url('../imga/about/Our_Team.png');
    background-repeat: no-repeat;
}
.all-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1,.block2,.block3{
    display: flex;
    align-items: center;
    width: 411px;
    height: 368px;
    flex-wrap: wrap;
}
.block2{
    border-left-width: 1px;
    border-left-color: var(--main-light, #2E2BD0);
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: var(--main-light, #2E2BD0);
    border-right-style: solid;
}
.skaiciai {
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina-medium";
    font-size: 60px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}
.title{
    font-family: "Neue Machina-medium";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 90px */
}
.text1{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy-light;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 45px */
}
/* ---------------------IT support group through the years----------------------- */
.IT{
    width: 30%;
    height: 50%;
}
.ITtext{
    
}
.img2 {
    width: 540px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 70px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
}
