/* ------------------------------------External sources------------------------------ */
@font-face {
    font-family: Gilroy-light;
    src: url("../fonts/Gilroy/Gilroy-Light.ttf");
}

@font-face {
    font-family: Neue Machina-medium;
    src: url("../fonts/Neue-Machina/PPNeueMachina-Regular.otf");
}
/*------------------------------------Header part--------------------------------*/
/* body{background-color: black;} */
.logo {
    display: flex;
    width: 39px;
    height: 40px;
    flex-shrink: 0;
}

.main-menu {
    display: flex;
    width: 571px;
    height: 39px;
    align-items: center;
    justify-content: space-evenly;
}

.block {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina-medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
    width: 98px;
    height: 39px;
    border-radius: 10px;
    border: 1px solid var(--main-blue, #2E2BD0);
    padding: 0px 0px 0px 30px;
}
.big-selection{
    display: flex;
    justify-content: flex-end;
    align-items: flex baseline;
}
.language-selection{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.language{
    font-family: Neue Machina-medium;
}
.contact-us{
    display: flex;
    width: 170px;
    height: 39px;
    background-color: #2E2BD0;
    align-items: center;
    justify-content: center;
    font-family: "Neue Machina-medium";
    color: white;
    border-radius: 10px;
    font-size: 15px;
    gap: 0.5rem;
}
.send{
    height: 1rem;
}
.our-services {
    display: flex;
    align-items: center;
    width: 98px;
    height: 39px;
    flex-shrink: 0;
    font-family:"Neue Machina-medium";
}
.job-openings{
    font-family: "Neue Machina-medium";
}
.big-selection .language-selection{
    display: flex;
    align-items: center;
    width: 50px;
}
img.selection{
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-origin: content-box;
    background-size: 30px;
}

.name {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 60px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}
/* ------------------------------------------Who we are?---------------------------------------- */
.Who-we-are {
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
h1{
    font-family: "Neue Machina-medium";
    font-weight: normal;
}
.big-paragraph{
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}
.paragraph,.para2{
    font-family: Gilroy-light;
    flex-shrink: 1;
}
/* -------------------------Our team------------------------------ */
h3{
    font-family: Neue Machina-medium;
    font-weight: normal;
    color: var(--main-light, #2F353F);
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 90px */
}
.text {
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy-light;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 45px */
}

.img1 {
    width: 540px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 70px;
    background-image: url('../imga/about/Our_Team.png');
    background-repeat: no-repeat;
}
.all-blocks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1,.block2,.block3{
    display: flex;
    align-items: center;
    width: 411px;
    height: 368px;
    flex-wrap: wrap;
}
.block2{
    border-left-width: 1px;
    border-left-color: var(--main-light, #2E2BD0);
    border-left-style: solid;
    border-right-width: 1px;
    border-right-color: var(--main-light, #2E2BD0);
    border-right-style: solid;
}
.skaiciai {
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina-medium";
    font-size: 60px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}
.title{
    font-family: "Neue Machina-medium";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 90px */
}
.text1{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy-light;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 45px */
}
/* ---------------------IT support group through the years----------------------- */
.IT{
    width: 540px;
    height: 180px;
}

.ITtext{
    font-family: "Gilroy-light";
    top: 230px;
    left: 900px;
    width: 715px;
    height: 108px;
}
.history-block{
    width: 1860px;
    height: 757px;
    flex-shrink: 0;
    border-radius: 70px;
    background: linear-gradient(66deg, #2E2BD0 -67.89%, #7876F2 125.28%);
}
.dates{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding-top: 5%;
    font-family: Neue Machina-medium;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: rgba(255, 255, 255, 0.50);
}
.dates p:nth-child(3){
    color: var(--main-white, #FFF);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.line-1,.line-2,.line-3{
    width: 1px;
    height: 110px;
    background: rgba(255, 255, 255, 0.30);
}
/* -----------------------------What our clients say about us?------------------------------- */
.feedbacks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}
.Daniel-Smith,.Tom-Peters,.Ann-Hidlton{
    display: flex;
    width: 250px;
    height: 300px;
    flex-shrink: 0;
    align-items:flex-start;
    border: 1px solid grey;
    border-radius: 40px;
    flex-direction: column;
    padding: 1%;
}
.position{
    margin: 0px;
    font-family: Gilroy-light;
    font-style:normal;
    font-weight: 400px;
    line-height: 130%;
    color: var(--main-white,rgba(47, 53, 63, 0.7));
}
.person{
    margin-bottom: 0px;
    font-family: Neue Machina-medium;
    color: var(--main-blue,#2E2BD0);
    font-size: 1rem;
}
.text2{
    font-family: Gilroy-light;
    color: rgba(47, 53, 63, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%;
}
p.text22{
    font-family: Gilroy-light;
    color: rgba(47, 53, 63, 0.70);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%;
    margin-bottom: 2.5rem;
}
img.pfp{
    position: relative;
    height: 20%
}
.button1{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-family: Neue Machina-medium;
    color: var(--main-blue, #2E2BD0);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #2E2BD0;
    border-radius: 10px;
    width: 90%;
    height: 15%;
}
.button2{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: Neue Machina-medium;
    font-size: 220%;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%;
}
.big-button2{
    display: flex;
    justify-content: center;
    padding: 5%;
}
/*-----------------------------------------Get in touch with us-------------------------------------------*/
.ftitle{
    color: var(--main-white, #FFF);
    font-family: "Neue Machina-medium";
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    width: 800px;
}
.Get-in-touch-with-us{
    display: flexbox;
    width: 100rem;
    height: 100%;
    margin: 10px;
    border: 1px solid #2E2BD0;
    border-radius: 70px;
    background: linear-gradient(66deg, #2E2BD0 -67.89%, #7876F2 125.28%);
}
form{
    display: flex;
    width: 50%;
    height: 25%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50.5px;
    flex-shrink: 0;
    padding: 0px;
}
input[type=text],input[type=email],input[type=tel],textarea,input[type=file]{
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
    border-bottom-color: #ffffffad;
    width: 100%;
    height: 5rem;
}
.file{
    font-family: Neue Machina-medium;
    font-size: 2rem;
    font-style: normal;
    color: var(--main-white, #ffffffb7);
}
input[type=submit]{
    border: 1px solid var(--main-white, #FFF);
    background-color: var(--main-white, #FFF);
    font-family: Neue Machina-medium;
    display: flex;
    padding: 1.0625rem 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.625rem;
    color: #2E2BD0;
}
input[type=text]::placeholder,input[type=email]::placeholder,input[type=tel]::placeholder,textarea::placeholder{
    color: var(--main-white, #ffffff9d);
    font-family: Neue Machina-medium;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

}
input[type=text]:focus{
    background-color: transparent;
    border: none;
    font-family: Neue Machina-medium;
}