html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
body {
line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
display:block;
}
nav ul {
list-style:none;
}
blockquote, q {
quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content:'';
content:none;
}
a {
margin:0;
padding:0;
font-size:100%;
vertical-align:baseline;
background:transparent;
}
/* change colours to suit your needs */
ins {
background-color:#ff9;
color:#000;
text-decoration:none;
}
/* change colours to suit your needs */
mark {
background-color:#ff9;
color:#000;
font-style:italic;
font-weight:bold;
}
del {
text-decoration: line-through;
}
abbr[title], dfn[title] {
border-bottom:1px dotted;
cursor:help;
}
table {
border-collapse:collapse;
border-spacing:0;
}
/* change border colour to suit your needs */
hr {
display:block;
height:1px;
border:0;
border-top:1px solid #cccccc;
margin:1em 0;
padding:0;
}
input, select {
vertical-align:middle;
}

/* ---------------------------------------------------------------- */

/* heder */
header{
    width: 1920px;
    height: 975px;
    flex-shrink: 0;
    background-image: url(../imga/index/heder.png);
    /* background-attachment: fixed;*/
    background-size: cover;
    padding: 30px;
}
nav{
    width: 100%;
    height: 119px;
    position: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    position: flex;
}
.nav{
    position: flex;
}
.nav2{
    position: flex;
}

.taskas{
    width: 14.698px;
    height: 15.25px;
    flex-shrink: 0;
    stroke-width: 7.625px;
    stroke: var(--main-white, #FFF);
}
.it{
    width: 57.766px;
    height: 42.361px;
    flex-shrink: 0;
    fill: var(--main-white, #FFF);
}
.support{
    width: 137px;
    color: var(--main-white, #FFF);
    font-family: "TT Norms", TT Norms;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 100% */
}
.nava{
    color: var(--main-white, #FFF);
    font-family: "Neue Machina";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase;
}
.kalba{
    color: var(--main-white, #FFF);
    font-family: "Neue Machina";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.Contact{
    width: 254px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-blue, #2E2BD0);
}

/* main */


/* What are our goals? */

.What_goals{
    display: grid;
}

.cube1, .cube2, .cube3, .cube4{
        align-items: start;
        flex-direction: column;
        justify-content: space-evenly;
}
    


.name{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 60px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    align-items: center;
}
.number{
    color: var(--main-blue, #2E2BD0);
    font-family: "Neue Machina";
    font-size: 40px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
}

.cube1, .cube2{
    border-radius: 70px;
    border: 1px solid #95989D;
    width: 540px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
}

.cube3{
    border-radius: 70px;
    border: 1px solid #95989D;
    width: 810px;
    height: 500px;
    flex-shrink: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.cube4{
    width: 1020px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 70px;
    border: 1px solid #95989D;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: space-evenly;
}


.minimame{
    color: var(--main-light, #2F353F);
    font-family: "Neue Machina";
    font-size: 32px;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%; /* 48px */
}
.text{
    color: rgba(47, 53, 63, 0.70);
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%; /* 45px */
    width: 440px;
}
.block_1.png{
    width: 540px;
    height: 500px;
    flex-shrink: 0;
    flex-shrink: 0;
    border-radius: 70px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat
}
.block_5.png{
    border-radius: 70px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
    width: 811px;
    height: 500px;
    flex-shrink: 0;
}

.Block_6.png{
    border-radius: 70px;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat, #D9D9D9;
    width: 600px;
    height: 500px;
    flex-shrink: 0;

}
.text2x{
    color: rgba(47, 53, 63, 0.70);
    width: 710px;
    font-family: Gilroy;
    font-size: 30px;
    font-style: normal;
    font-weight: 400px;
    line-height: 150%; /* 45px */
    
}


/* Why choose us? */

/* How we work? */

/* Used technologies */

/* Industries */

/* Get in touch with us */



/* footer */